@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'IBM Plex Mono', monospace;
}
body {
    display: flex;
    justify-content: center;
}
div.bloque-texto {
    padding-top: 130px;
    margin: 0 6%;
}
h1.titulo {
    font-family: "IBM Plex Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    line-height: 56px;
    color: #060A24;
    letter-spacing: 0;
}
h1.blanco {
    color: white;
    margin: 60px 0 30px 0;
}
p.parrafo {
    padding: 25px 0;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 32px;
}
#parrafo-desktop {
    display: none;
}
header {
    background-color: white;
    width: 80%;
    position: fixed;
    height: 45px;
    top: 0;
    padding: 22px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
header img {
    width: 36px;
}

header nav .menu ul {
    /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
    width: 100%;
    position: absolute;
    top: 80px;
    right: 0;
    overflow: hidden;
    list-style: none;
    background: #f2f2f2;
    height: 0px;
    transition: height 0.5s ease;
}
header nav .menu  ul li {
    position: relative;
}
header nav .menu  ul li:hover {
    background: #5a5a5a;
}
header nav .menu ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 16px 200px;
    line-height: 28px;
    display: block;
    background: #0000EC;
}
header nav .menu  ul li a:hover {
    color: #00F3BB;
    text-decoration:line-through;
}
/*animación menu desplegable*/
header nav .menu input[type="checkbox"]:checked ~ ul {
    height: 240px;
    transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
}
header nav .menu {
    padding-top: 3px;
}
/*checkbox transparente en primer plano*/
header nav .menu input {
    display: block;
    width: 40px;
    height: 32px;
    opacity: 0;
    z-index: 2;
    position: absolute;
}
/*span -lineas del menu hamburguesa-*/
header nav .menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 6.5px;
    position: relative;
    background: #000;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.5s ease,
    opacity 0.55s ease;
}
header nav .menu span:first-child {
    transform-origin: 0% 0%;
}
header nav .menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
/*movimiento a cruz*/
header nav .menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, 1px);
}
header nav .menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
header nav .menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, 0px);
}
.container {
    width: 100%;
}
/* Boton */
.boton {
    font-size: 20px;
    font-weight: 500;
    background-color: #00F3BB;
    width: 100%;
    padding: 6%;
    height: auto;
    color: #060A24;
    }
.boton:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #ffffff;
}
#episodios {
    margin-top: 50px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skew(0, -7deg);
    width: auto;
    display: flex;
    overflow: hidden;
    padding-bottom: 5%;
}
.episodios{
    margin: 0 6%;
    transform: skew(0, 7deg);
    margin-bottom: 130px;
}
.spotify{
    width: 100%;
    height: 252px;
    border:0;
    background-color: transparent;
    overflow: hidden;
}
#nosotros {
    z-index: 1;
    position: relative;
    display: flex;
    margin-top: -130px;
}
.nosotros {
    display: block;
    margin: 0 10%;
    width: 80%;
    justify-content: center;
}
img#phone {
    width: 100%;
}
.about-us {
    margin-top: 25px;
}
#invitados h1.titulo {
    margin: 10% 10%;
}
.fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.foto {
    flex: 1;
    width: 100%;
}
/*tamaño mayor a 700px*/
@media screen and (min-width: 700px){
    /*menu*/
    header nav .menu ul {
        position: relative;
        top: 0;
        right: 0;
        overflow: hidden;
        background: unset;
        height: unset;
    }
    header nav .menu  ul li {
        padding: 5px 0 0 25px;
        display: inline-block;
    }
    header nav .menu ul li a {
        color: black;
        background:unset;
    }
    header nav .menu  ul li:hover {
        color: #00F3BB;
        text-decoration:line-through;
        background: unset;
    }
    header nav .menu ul li a {
        padding: unset;
        line-height: unset;
    }
    header nav .menu  ul li a:hover {

        color: unset;
    }
    header nav .menu input {
        display: none;
    }
    header nav .menu span {
        display: none;
    }
    div.bloque-texto {
        padding-top: 200px;
    }
    /*texto*/
    h1.titulo {
        font-family: "IBM Plex Sans";
        font-weight: 400;
        font-style: normal;
        font-size: 56px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 70px;
    }
    h1.titulo br {
        display: none;
    }
    span.texto-azul {
        color: #0000EC;
    }
    p.parrafo {
        font-size: 16px;
        padding: 15px 0 36px 0;
    }
    .bloque-texto p.parrafo {
        width: 628px;
    }
    #parrafo-movil {
        display: none;
    }
    #parrafo-desktop {
        display: inline;
    }
    /* Boton */
    .boton {
    width: 300px;
    padding: 2%;
    font-size: 22px;
    }
    div.bloque-texto {
        margin: 0 20%;
    }
    .spotify {
    width: 48%;
    }
    .episodios {
        margin: 0 10%;
        margin-bottom: 130px;
        width: 80%;
    }
    h1.blanco {
        margin-top: 150px;
        color: white;
    }
    img#phone {
    width: 80%;
    }
    .nosotros {
        display: flex;
        flex-direction: row;
    }
    .about-us {
        width: 50%;
        margin-top: 150px;
    }
    #invitados h1.titulo {
        margin: 4% 20%;
    }
    .foto {
        flex: 1;
        width: 33.33%;
    }
}